@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h1 class="panel-title panel-title-style"><strong>Initial consonant</strong></h1>
            </div>
            <div class="panel-body" >

                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody>
                    <tr>
                        <td width="15%"><strong>b</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">b</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('b.mp3');</script></span></button></td>
                        <td width="40%"><p>When you pronounce, your lips are closed, blocking the airflow. Then the lips are suddenly released, allowing the air to rush out, and the pronunciation is light and short.</p></td>
                        <td width="30%"><img src="/static/img/b.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>p</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">p</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('p.mp3');</script></span></button></td>
                        <td width="40%"><p>When articulation, the lips are closed, obstructing the airflow, then the lips are suddenly released, and the air burst into a sound.</p></td>
                        <td width="30%"><img src="/static/img/p.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>m</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">m</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('m.mp3');</script></span></button></td>
                        <td width="40%"><p>When articulation, lips are closed, tongue retraction, airflow from nasal cavity, mouth opening, vocal cord trembling.</p></td>
                        <td width="30%"><img src="/static/img/m.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>f</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">f</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('f.mp3');</script></span></button></td>
                        <td width="40%"><p>The upper lip touch pronunciation, form a narrow gap, let the air squeezed out from the slit, friction sound.</p></td>
                        <td width="30%"><img src="/static/img/f.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>d</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">d</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('d.mp3');</script></span></button></td>
                        <td width="40%"><p>Pronounced with the tip of the tongue against the upper jaw, Biezhu suddenly let go after the airflow, the airflow from the mouth bursts, burst into sound.</p></td>
                        <td width="30%"><img src="/static/img/d.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>t</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">t</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('t.mp3');</script></span></button></td>
                        <td width="40%"><p>Pronounced with the tip of the tongue against the upper jaw, left suddenly choking, and flow out from the mouth</p></td>
                        <td width="30%"><img src="/static/img/t.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>n</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">n</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('n.mp3');</script></span></button></td>
                        <td width="40%"><p>Pronounced with the tip of the tongue against the upper jaw, at the same time through the air through the nose, tongue made obstacles, vocal cords vibrate.</p></td>
                        <td width="30%"><img src="/static/img/n.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>l</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">l</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('l.mp3');</script></span></button></td>
                        <td width="40%"><p>Pronunciation, lips slightly open, the tip of the tongue against the upper jaw, vocal cords vibrate, the outflow of air from the tip of the tongue on both sides.</p></td>
                        <td width="30%"><img src="/static/img/l.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>g</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">g</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('g.mp3');</script></span></button></td>
                        <td width="40%"><p>Prebase against the soft palate and block the air, let the air flow through the root block, erupted into a sound.</p></td>
                        <td width="30%"><img src="/static/img/g.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>k</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">k</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('k.mp3');</script></span></button></td>
                        <td width="40%"><p>Prebase, against the upper palate, impeding airflow, let the air flow through the root block, burst into sound.</p></td>
                        <td width="30%"><img src="/static/img/k.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>h</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">h</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('h.mp3');</script></span></button></td>
                        <td width="40%"><p>The tongue to the soft palate elevation, the formation of slit, the air squeezed out from the cracks, friction sound.</p></td>
                        <td width="30%"><img src="/static/img/h.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>j</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">j</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('j.mp3');</script></span></button></td>
                        <td width="40%"><p>The tip of the tongue against the lower incisors, the front close to the hard palate, the airflow from the slit out friction sound.</p></td>
                        <td width="30%"><img src="/static/img/j.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>q</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">q</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('q.mp3');</script></span></button></td>
                        <td width="40%"><p>The front against the hard palate, tongue air breaking barriers, friction sound.</p></td>
                        <td width="30%"><img src="/static/img/q.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>q</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">q</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('q.mp3');</script></span></button></td>
                        <td width="40%"><p>The front against the hard palate, tongue air breaking barriers, friction sound.</p></td>
                        <td width="30%"><img src="/static/img/q.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>x</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">x</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('x.mp3');</script></span></button></td>
                        <td width="40%"><p>The tip of the tongue against the lower incisors, the front elevation near the palate, forming a narrow slit, the air squeezed out from the cracks, friction sound.</p></td>
                        <td width="30%"><img src="/static/img/x.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>z</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">z</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('z.mp3');</script></span></button></td>
                        <td width="40%"><p>The tip of the tongue against the upper incisors, impeding airflow, let the air burst the tongue weak barrier from the slit extrusion, friction sound.</p></td>
                        <td width="30%"><img src="/static/img/z.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>c</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">c</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('c.mp3');</script></span></button></td>
                        <td width="40%"><p>The tip of the tongue against the upper incisors, impeding airflow, make strong air squeezed out from the cracks, friction sound.</p></td>
                        <td width="30%"><img src="/static/img/c.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>s</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">s</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('s.mp3');</script></span></button></td>
                        <td width="40%"><p>The tip of the tongue is close to the back of the door, leaving a narrow gap. The air flow is squeezed out from the narrow gap of the tongue and is frictional</p></td>
                        <td width="30%"><img src="/static/img/s.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>r</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">r</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('r.mp3');</script></span></button></td>
                        <td width="40%"><p>The tip of the tongue is upwarped, near the front part of the hard palate, leaving a narrow gap, and the throat is forced to pronounce. The air flow is squeezed out of the narrow slot, and the friction is made into the sound, and the vocal cord vibrate.</p></td>
                        <td width="30%"><img src="/static/img/r.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>zh</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zh</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zh.mp3');</script></span></button></td>
                        <td width="40%"><p>The tip of the tongue against the palate upturned, front air force tongue weak obstacles, squeezed out from the cracks, friction sound.</p></td>
                        <td width="30%"><img src="/static/img/zh.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>ch</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ch</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ch.mp3');</script></span></button></td>
                        <td width="40%"><p>The tip of the tongue against the palate upturned, front air force tongue strong obstacles, squeezed out from the cracks, friction sound.</p></td>
                        <td width="30%"><img src="/static/img/ch.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>sh</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">sh</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('sh.mp3');</script></span></button></td>
                        <td width="40%"><p>The tongue up near the front hard palate, leaving a narrow, air flow from the slit extrusion, friction sound.</p></td>
                        <td width="30%"><img src="/static/img/sh.jpg" style="width: 100%"></td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}