@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">

                <div class="panel-heading"  style="background: #ccc;">
                    <h3 class="panel-title panel-title-style">Introduction to Pinyin</h3>
                </div>
                <div class="panel-body" style="background: #ddd;">
                    <p>Pinyin is a system for writing standard Mandarin Chinese using the Roman alphabet. Pinyin was developed by the People’s Republic of China in 1958, and implemented in 1979. It is used exclusively in mainland China to this day. Over the years pinyin has become widely accepted by the international community, replacing older systems of Romanization such as the Wade-Giles system.</p>
                    <p>It is important to remember that although pinyin uses the same letters as European languages, the sounds those letters represent are the sounds of Mandarin Chinese. Thus some letters may not make the sounds you expect. It is important that you pay close attention to how each letter of pinyin is pronounced, as you cannot read pinyin as if it were English.</p>
                </div>
        </div>

    </div>
</div>

@}