@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">Tones</h3>
            </div>
            <div class="panel-body">
                <p>Mandarin Chinese is a tonal language. In order to differentiate meaning, the same syllable can be pronounced with different tones. Mandarin's tones give it a very distinctive quality, but the tones can also be a source of miscommunication if not given due attention.</p>
                <p>Mandarin is said to have four main tones and one neutral tone (or, as some say, five tones). Each tone has a distinctive pitch contour which can be graphed using the Chinese 5-level system.</p>
                <p><strong>First Tone</strong></p>
                <p>The first tone is high and level. It is important to keep one's voice even (almost monotone) across the whole syllable when pronouncing the first tone. It is represented by a straight horizontal line above a letter in pinyin (or sometimes by a number "1" written after the syllable).</p>
                <p>Try listening to the following first tone syllables:</p>

                <table cellspacing="1" cellpadding="2" border="0" bgcolor="#dddddd" class="table-border" aglin="center">
                    <tbody><tr bgcolor="#ffffff">
                        <td width="100"><b>Syllable</b></td>
                        <td width="50"><b>Play</b></td>
                        <td width="100"><b>Syllable</b></td>
                        <td width="50"><strong>Play</strong></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>mā</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ma1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ma1.mp3');</script></span></button></td>
                        <td>yī</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yi1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yi1.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>lē</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">le1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('le1.mp3');</script></span></button></td>
                        <td>hōu</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hou1.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>bō</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bo1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bo1.mp3');</script></span></button></td>
                        <td>kōng</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kong1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kong1.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>nāo</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nao1.mp3');</script></span></button></td>
                        <td>yū</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yu1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yu1.mp3');</script></span></button></td>
                    </tr>
                    </tbody></table>

                <p><hr/></p>
                <p><strong>Second Tone</strong></p>
                <p>The second rises moderately. In English we sometimes associate this rise in pitch with a question. The second tone is represented by a rising diagonal line above a letter in pinyin (or sometimes by a number "2" written after the syllable).</p>
                <p>Try listening to the following second tone syllables:</p>

                <table cellspacing="1" cellpadding="2" border="0" bgcolor="#dddddd" class="table-border" aglin="center">
                    <tbody><tr bgcolor="#ffffff">
                        <td width="100"><b>Syllable</b></td>
                        <td width="50"><b>Play</b></td>
                        <td width="100"><b>Syllable</b></td>
                        <td width="50"><strong>Play</strong></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>má</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ma2</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ma2.mp3');</script></span></button></td>
                        <td>yí</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yi2</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yi2.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>lé</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">le2</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('le2.mp3');</script></span></button></td>
                        <td>hóu</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hou2</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hou2.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>bó</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bo2</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bo2.mp3');</script></span></button></td>
                        <td>kóng</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kong2</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kong2.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>náo</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nao2</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nao2.mp3');</script></span></button></td>
                        <td>yú</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yu2</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yu2.mp3');</script></span></button></td>
                    </tr>
                    </tbody></table>

                <p><hr/></p>
                <p><strong>Third Tone</strong></p>
                <p>The third tone falls and then rises again. When pronounced clearly, its tonal "dipping" is very distinctive. It is represented by a curved "dipping" line above a letter in pinyin (or sometimes by a number "3" written after the syllable).</p>
                <p>Try listening to the following third tone syllables:</p>

                <table cellspacing="1" cellpadding="2" border="0" bgcolor="#dddddd" class="table-border" aglin="center">
                    <tbody><tr bgcolor="#ffffff">
                        <td width="100"><b>Syllable</b></td>
                        <td width="50"><b>Play</b></td>
                        <td width="100"><b>Syllable</b></td>
                        <td width="50"><strong>Play</strong></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>mǎ</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ma3</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ma3.mp3');</script></span></button></td>
                        <td>yǐ</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yi3</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yi3.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>lě</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">le3</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('le3.mp3');</script></span></button></td>
                        <td>hǒu</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hou3</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hou3.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>bǒ</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bo3</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bo3.mp3');</script></span></button></td>
                        <td>kǒng</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kong3</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kong3.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>nǎo</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nao3</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nao3.mp3');</script></span></button></td>
                        <td>yǔ</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yu3</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yu3.mp3');</script></span></button></td>
                    </tr>
                    </tbody></table>

                <p><hr/></p>
                <p><strong>Fourth Tone</strong></p>
                <p>The fourth tone starts out high but drops sharply to the bottom of the tonal range. English-speakers often associate this tone with an angry command. It is represented by a dropping diagonal line above a letter in pinyin (or sometimes by a number "4" written after the syllable).</p>
                <p>Try listening to the following fourth tone syllables:</p>

                <table cellspacing="1" cellpadding="2" border="0" bgcolor="#dddddd" class="table-border" aglin="center">
                    <tbody><tr bgcolor="#ffffff">
                        <td width="100"><b>Syllable</b></td>
                        <td width="50"><b>Play</b></td>
                        <td width="100"><b>Syllable</b></td>
                        <td width="50"><strong>Play</strong></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>mà</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ma4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ma4.mp3');</script></span></button></td>
                        <td>yì</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yi4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yi4.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>lè</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">le4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('le4.mp3');</script></span></button></td>
                        <td>hòu</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hou4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hou4.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>bò</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bo4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bo4.mp3');</script></span></button></td>
                        <td>kòng</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kong4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kong4.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>nào</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nao4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nao4.mp3');</script></span></button></td>
                        <td>yù</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yu4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yu4.mp3');</script></span></button></td>
                    </tr>
                    </tbody></table>

                <p><hr/></p>
                <p><strong>Neutral Tone</strong></p>
                <p>The neutral tone is not mapped on the tone chart because it differs from the other four tones in that it does not have a defined pitch contour. The neutral tone is pronounced quickly and lightly without regard to pitch. Syllables with a neutral tone have no tone mark (but are sometimes marked with a "5" or a "0" after the syllable).</p>
                <p>This tone is usually very easy to pick up. Note that aside from grammatical particles, single syllable words cannot have a neutral tone. </p>
                <p>Try listening to the following neutral tone syllables:</p>

                <table cellspacing="1" cellpadding="2" border="0" bgcolor="#dddddd" class="table-border" aglin="center">
                    <tbody><tr bgcolor="#ffffff">
                        <td width="100"><b>Syllable</b></td>
                        <td width="50"><b>Play</b></td>
                        <td width="100"><b>Syllable</b></td>
                        <td width="50"><strong>Play</strong></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>ma</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ma5</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ma5.mp3');</script></span></button></td>
                        <td>yǐzi</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yi3zi5</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yi3zi5.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>le</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">le5</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('le5.mp3');</script></span></button></td>
                        <td>hóuzi</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hou2zi5</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hou2zi5.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>bózi</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bo2zi5</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bo2zi5.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody></table>

                <p><hr/></p>
                <p><strong>Tone Rule #1: 3-3 to 2-3</strong></p>
                <p>When there are two third tones in a row, the first one becomes second tone. This rule is always followed, automatically, even though it will not be reflected in the pinyin.</p>
                <p>Try listening to the following examples:</p>

                <table cellspacing="1" cellpadding="2" border="0" bgcolor="#dddddd" class="table-border" aglin="center">
                    <tbody><tr bgcolor="#ffffff">
                        <td width="150"><b>Originally</b></td>
                        <td width="200"><b>After applying the rule</b></td>
                        <td width="50"><strong>Play</strong></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>你好 (nǐ + hǎo)</td>
                        <td>你好 (ní hǎo)</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ni3hao3</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ni3hao3.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>很好 (hěn + hǎo)</td>
                        <td>很好 (hén hǎo)</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hen3hao3</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hen3_hao3.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>好懂 (hǎo + dǒng)    </td>
                        <td>好懂 (háo dǒng)</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hao3dong3</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hao3dong3.mp3');</script></span></button></td>
                    </tr>
                    </tbody></table>

                <p>There is also a podcast about this tone rule: <a href="#">Two Third Tones</a>.</p>

                <p><hr/></p>
                <p><strong>Tone Rule #2: 不</strong></p>
                <p>When the word 不 (bù) precedes a fourth tone, 不 changes to second tone (bú). This rule is always followed, automatically, even though it will not be reflected in the pinyin.</p>
                <p>Try listening to the following examples:</p>

                <table cellspacing="1" cellpadding="2" border="0" bgcolor="#dddddd" class="table-border" aglin="center">
                    <tbody><tr bgcolor="#ffffff">
                        <td width="150">Originally</td>
                        <td width="200"><b>After applying the rule</b></td>
                        <td width="50">Play</td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>不对 (bù + duì)</td>
                        <td>不对 (bú duì)</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bu4_dui4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bu4_dui4.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>不去 (bù + qù)</td>
                        <td>不去 (bú qù)</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bu4_qu4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bu4_qu4.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>不错 (bù + cuò)</td>
                        <td>不错 (bú cuò)</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bu4_cuo4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bu4_cuo4.mp3');</script></span></button></td>
                    </tr>
                    </tbody></table>

                <p><hr/></p>
                <p><strong>Tone Rule #3: 一</strong></p>
                <p>The character 一 (yī), meaning "one," is first tone when alone, second tone when followed by a fourth tone, and fourth tone when followed by any other tone. This rule is always followed, automatically, even though it will not be reflected in the pinyin.</p>
                <p>Try listening to the following examples:</p>

                <table cellspacing="1" cellpadding="2" border="0" bgcolor="#dddddd" class="table-border" aglin="center">
                    <tbody><tr bgcolor="#ffffff">
                        <td width="150"><b>Originally</b></td>
                        <td width="200"><b>After applying the rule</b></td>
                        <td width="50"><strong>Play</strong></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>一个 (yī + gè)</td>
                        <td>一个 (yí gè)</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yi1_ge4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yi1_ge4.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>一次 (yī + cì)</td>
                        <td>一次 (yí cì)</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yi1_ci4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yi1_ci4.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>一半 (yī + bàn)</td>
                        <td>一半 (yí bàn)</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yi1_ban4</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yi1_ban4.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>一般 (yī + bān)</td>
                        <td>一般 (yì bān)</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yi1ban1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yi1ban1.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>一毛 (yī + máo)</td>
                        <td>一毛 (yì máo)</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yi1_mao2</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yi1_mao2.mp3');</script></span></button></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>一百 (yī + bǎi)</td>
                        <td>一百 (yì bǎi)</td>
                        <td><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">yi1bai3</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('yi1bai3.mp3');</script></span></button></td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}