@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">A with Easy Consonants</h3>
            </div>
            <div class="panel-body" >
                <p>The pinyin vowel a has a rather uniform pronunciation in Chinese, very similar to the "a" sound in the English "father". (The two exceptions to this pronunciation rule are ian and üan, both covered in later sections.)</p>
                <p>The most basic syllable involving the pinyin vowel a is the sound alone, pronounced as "ah", as in the sound you make for the doctor when he examines your tonsils.</p>
                <p>The vowel a can also combine with other vowels in a single syllable. Basic examples of this include ai and ao. Pinyin ai sounds very much like the name of the English letter "I", although if you draw out the English letter "I" you will notice an "ee" sound at the end. This sound is cut off a bit sooner in Mandarin ai.Pinyin ao sounds like the vowel sound in the English "now." Just make sure not to drag out the "oo" sound at the end. This way the a sound is more dominant than the o sound and more closely resembles Mandarin speakers’ pronunciation.</p>
                <p>Mandarin Chinese does not have many syllable-final sounds, but pinyin vowel a can take them all, giving us an and ang.The syllable ang sounds very much like the second half of the English word "song." The an syllable sounds like the second half of the man's name "Don," but not like the woman's name "Dawn." Avoid putting an "aw" sound into the syllable, keeping to a pure "ah" sound.</p>
                <p><strong>Linguist's Note:</strong></p>
                <p>The following are the IPA symbols for this section's pinyin vowel sounds:</p>
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr >
                        <td width="30">&nbsp;</td>
                        <td width="30">a</td>
                        <td width="30">[ɑ]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>ai</td>
                        <td>[ai]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>ao</td>
                        <td>[ɑu]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>an</td>
                        <td>[ɑn]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>ang</td>
                        <td>[ɑŋ]</td>
                    </tr>
                    </tbody>
                </table>
                <p>The following pinyin consonants are very similar (if not identical) to their English equivalents and should not give you much trouble: b, p, m, f, d, t, n, l.</p>
                <p>The two notable exceptions to this rule are b and d. You may find it difficult at first to distinguish between Mandarin's b and p sounds as well as its d and t sounds. This is because in English "b" and "d" sounds are voiced,meaning that the vocal chords are used when producing the sound. This creates a somewhat more forceful consonant sound. In Mandarin Chinese, the only difference between the b sound and the p sound is that the p sound is aspirated, meaning that a puff of air comes from the mouth when pronouncing the p sound. (In English, the "p" sound is also aspirated.) This makes the difference between Mandarin b and p seem subtler, since aspiration and non-aspiration is the only difference, as opposed to aspiration and voicing, as in English.</p>
                <p>Just like b and p, the only difference between Mandarin's d and t sounds is that the d sound is not aspirated while the t sound is. Neither consonant sound is voiced in Mandarin, while the "d" sound is voiced in English.</p>
                <p>While difficult to distinguish at first, this subtle difference will become more and more apparent with prolonged exposure.</p>
                <p><strong>Linguist’s Note:</strong></p>
                <p>The following are the IPA symbols for this section’s pinyin consonant sounds:</p>
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr >
                        <td width="30">&nbsp;</td>
                        <td width="30">b</td>
                        <td width="30">[p]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>p</td>
                        <td>[p<sup>h</sup>]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>m</td>
                        <td>[ɑu]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>d</td>
                        <td>[t]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>t</td>
                        <td>[t<sup>h</sup>]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>n</td>
                        <td>[n]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>l</td>
                        <td>[l]</td>
                    </tr>
                    </tbody>
                </table>
                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>a</strong></td>
                        <td><strong>ai</strong></td>
                        <td><strong>ao</strong></td>
                        <td><strong>an</strong></td>
                        <td><strong>ang</strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>a<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">a1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('a1.mp3');</script></span></button>
                        </td>
                        <td>ai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ai1.mp3');</script></span></button>
                        </td>
                        <td>ao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ao1.mp3');</script></span></button>
                        </td>
                        <td>an<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">an1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('an1.mp3');</script></span></button>
                        </td>
                        <td>ang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ang1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>b</strong></td>
                        <td>ba<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ba1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ba1.mp3');</script></span></button>
                        </td>
                        <td>bai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bai1.mp3');</script></span></button>
                        </td>
                        <td>bao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bao1.mp3');</script></span></button>
                        </td>
                        <td>ban<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ban1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ban1.mp3');</script></span></button>
                        </td>
                        <td>bang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bang1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>p</strong></td>
                        <td>pa<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">pa1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('pa1.mp3');</script></span></button>
                        </td>
                        <td>pai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">pai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('pai1.mp3');</script></span></button>
                        </td>
                        <td>pao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">pao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('pao1.mp3');</script></span></button>
                        </td>
                        <td>pan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">pan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('pan1.mp3');</script></span></button>
                        </td>
                        <td>pang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">pang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('pang1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>m</strong></td>
                        <td>ma<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ma1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ma1.mp3');</script></span></button>
                        </td>
                        <td>mai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">mai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('mai1.mp3');</script></span></button>
                        </td>
                        <td>mao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">mao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('mao1.mp3');</script></span></button>
                        </td>
                        <td>man<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">man1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('man1.mp3');</script></span></button>
                        </td>
                        <td>mang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">mang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('mang1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>f</strong></td>
                        <td>fa<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">fa1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('fa1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>fan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">fan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('fan1.mp3');</script></span></button>
                        </td>
                        <td>fang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">fang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('fang1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>d</strong></td>
                        <td>da<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">da1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('da1.mp3');</script></span></button>
                        </td>
                        <td>dai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">dai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('dai1.mp3');</script></span></button>
                        </td>
                        <td>dao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">dao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('dao1.mp3');</script></span></button>
                        </td>
                        <td>dan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">dan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('dan1.mp3');</script></span></button>
                        </td>
                        <td>dang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">dang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('dang1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>t</strong></td>
                        <td>ta<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ta1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ta1.mp3');</script></span></button>
                        </td>
                        <td>tai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">tai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('tai1.mp3');</script></span></button>
                        </td>
                        <td>tao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">tao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('tao1.mp3');</script></span></button>
                        </td>
                        <td>tan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">tan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('tan1.mp3');</script></span></button>
                        </td>
                        <td>tang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">tang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('tang1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>n</strong></td>
                        <td>na<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">na1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('na1.mp3');</script></span></button>
                        </td>
                        <td>nai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nai1.mp3');</script></span></button>
                        </td>
                        <td>nao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nao1.mp3');</script></span></button>
                        </td>
                        <td>nan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nan1.mp3');</script></span></button>
                        </td>
                        <td>nang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nang1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>l</strong></td>
                        <td>la<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">la1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('la1.mp3');</script></span></button>
                        </td>
                        <td>lai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">lai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('lai1.mp3');</script></span></button>
                        </td>
                        <td>lao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">lao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('lao1.mp3');</script></span></button>
                        </td>
                        <td>lan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">lan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('lan1.mp3');</script></span></button>
                        </td>
                        <td>lang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">lang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('lang1.mp3');</script></span></button>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>


@}