@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/banner.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">U with ZH, CH, SH, R</h3>
            </div>
            <div class="panel-body">
                <p>After mastering the u sounds of <a href="/tools/pronunciation/section/11">Section 11</a> and <a href="/tools/pronunciation/section/12">Section 12</a>, applying the zh, ch, sh, and r consonant sounds of <a href="/tools/pronunciation/section/4">Section 4</a> should be fairly straightforward. They are similar to English's "j," "ch," and "sh" sounds, but not exactly the same. The beginner will find this approximation perfectly serviceable, but the serious student will want to refine his pronunciation of these consonants eventually.</p>

                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>

                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>u</strong></td>
                        <td><strong>ua</strong></td>
                        <td><strong>uo</strong></td>
                        <td><strong>ui</strong></td>
                        <td><strong>uai</strong></td>
                        <td><strong>uan</strong></td>
                        <td><strong>un</strong></td>
                        <td><strong>uang</strong></td>
                        <td><strong>ueng</strong></td>
                    </tr>
                    <tr>
                        <td><strong>zh</strong></td>
                        <td>zhu<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zhu1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zhu1.mp3');</script></span></button>
                        </td>
                        <td>zhua<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zhua1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zhua1.mp3');</script></span></button></td>
                        <td>zhuo<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zhuo1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zhuo1.mp3');</script></span></button></td>
                        <td>zhui<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zhui1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zhui1.mp3');</script></span></button></td>
                        <td>zhuai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zhuai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zhuai1.mp3');</script></span></button></td>
                        <td>zhuan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zhuan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zhuan1.mp3');</script></span></button></td>
                        <td>zhun<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zhun1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zhun1.mp3');</script></span></button></td>
                        <td>zhuang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zhuang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zhuang1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>ch</strong></td>
                        <td>chu<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">chu1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('chu1.mp3');</script></span></button>
                        </td>
                        <td>chua<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">chua1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('chua1.mp3');</script></span></button></td>
                        <td>chuo<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">chuo1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('chuo1.mp3');</script></span></button></td>
                        <td>chui<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">chui1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('chui1.mp3');</script></span></button></td>
                        <td>chuai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">chuai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('chuai1.mp3');</script></span></button></td>
                        <td>chuan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">chuan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('chuan1.mp3');</script></span></button></td>
                        <td>chun<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">chun1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('chun1.mp3');</script></span></button></td>
                        <td>chuang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">chuang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('chuang1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>sh</strong></td>
                        <td>shu<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">shu1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('shu1.mp3');</script></span></button>
                        </td>
                        <td>shua<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">shua1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('shua1.mp3');</script></span></button></td>
                        <td>shuo<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">shuo1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('shuo1.mp3');</script></span></button></td>
                        <td>shui<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">shui1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('shui1.mp3');</script></span></button></td>
                        <td>shuai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">shuai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('shuai1.mp3');</script></span></button></td>
                        <td>shuan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">shuan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('shuan1.mp3');</script></span></button></td>
                        <td>shun<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">shun1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('shun1.mp3');</script></span></button></td>
                        <td>shuang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">shuang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('shuang1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>r</strong></td>
                        <td>ru<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ru1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ru1.mp3');</script></span></button>
                        </td>
                        <td>rua<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">rua1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('rua1.mp3');</script></span></button></td>
                        <td>ruo<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ruo1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ruo1.mp3');</script></span></button></td>
                        <td>rui<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">rui1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('rui1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>ruan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ruan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ruan1.mp3');</script></span></button></td>
                        <td>run<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">run1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('run1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody></table>

                <p><strong>Linguist's Note:</strong></p>
                <p>Various regions of China carry a local accent which may make differentiating the sounds of this section and the z, c, and s sounds of Section 11 and Section 12 difficult. Some regions, for example, do not differentiate between zu and zhu, suo and shuo, cui and chui, etc. </p>
            </div>
        </div>

    </div>
</div>

@}