@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">I with J, Q, X</h3>
            </div>
            <div class="panel-body">
                <p>You learned in <a href="/tools/pronunciation/section/4">Section 4</a> that the Mandarin consonant sounds zh, ch, and sh are similar to English's "j," "ch," and "sh" sounds. Then what about Mandarin's j, q, and x sounds? To the beginner, these sounds may also sound very similar to English's "j," "ch," and "sh" sounds, but there is in fact an important difference. Before continuing, we must stress here that pinyin zh and j are not the same sounds, and are not pronounced in the same way. Likewise, pinyin ch and q are not the same sounds, and sh and x are not the same sounds. You must learn the pronunciation of j, q, and x from scratch, as there are no English equivalents for these sounds. </p>
                <p>So how does one learn the completely new sounds of j, q, and x? Tongue position is the way to approach it. First, let's examine the tongue position for English's "j," "ch," and "sh" sounds:</p>

                <img width="450" height="146" alt="pronunciation" src="/images/pronu_s10_1.gif"/>

                <p>As you can see from these diagrams, the tongue position is the same for all three English consonant sounds.</p>
                <p>Now let’s look at the tongue positions for Mandarin’s j, q, and x:</p>

                <img width="450" height="146" alt="pronunciation" src="/images/pronu_s10_2.gif"/>

                <p>As you can see, the tongue positions of these three Mandarin consonants are also the same, but they are <em>different from the English consonant tongue positions</em> above. Most significantly, the tip of the tongue rests <em>behind the lower front teeth></em>, and <em>not on the alveolar ridge behind the upper front teeth</em>.</p>

                <p>Making this crucial adjustment is the most important part of getting the sound right. It will be hard for your tongue to find the proper place at first, because it never does this for English. Once you can make the sound properly, however, your pronunciation will improve dramatically.</p>
                <p>Now let's look at the various final sounds we can add to j, q, and x. You'll find that with j, q, and x, the Mandarin i sound is the same as the one you learned in <a href="/tools/pronunciation/section/8">Section 8</a>: the basic "ee" sound. The other sounds from that section (ia, iao, ie, iu, ian, iang, in, ing, iong) are pronounced the same as well.</p>
                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>

                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>i</strong></td>
                        <td><strong>ia</strong></td>
                        <td><strong>iao</strong></td>
                        <td><strong>ie</strong></td>
                        <td><strong>iu</strong></td>
                        <td><strong>ian</strong></td>
                        <td><strong>iang</strong></td>
                        <td><strong>in</strong></td>
                        <td><strong>ing</strong></td>
                        <td><strong>iong</strong></td>
                    </tr>
                    <tr>
                        <td><strong>j</strong></td>
                        <td>ji<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ji1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ji1.mp3');</script></span></button>
                        </td>
                        <td>jia<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">jia1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('jia1.mp3');</script></span></button></td>
                        <td>jiao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">jiao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('jiao1.mp3');</script></span></button></td>
                        <td>jie<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">jie1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('jie1.mp3');</script></span></button></td>
                        <td>jiu<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">jiu1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('jiu1.mp3');</script></span></button></td>
                        <td>jian<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">jian1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('jian1.mp3');</script></span></button></td>
                        <td>jiang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">jiang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('jiang1.mp3');</script></span></button></td>
                        <td>jin<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">jin1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('jin1.mp3');</script></span></button></td>
                        <td>jing<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">jing1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('jing1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>q</strong></td>
                        <td>qi<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">qi1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('qi1.mp3');</script></span></button>
                        </td>
                        <td>qia<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">qia1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('qia1.mp3');</script></span></button></td>
                        <td>qiao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">qiao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('qiao1.mp3');</script></span></button></td>
                        <td>qie<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">qie1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('qie1.mp3');</script></span></button></td>
                        <td>qiu<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">qiu1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('qiu1.mp3');</script></span></button></td>
                        <td>qian<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">qian1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('qian1.mp3');</script></span></button></td>
                        <td>qiang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">qiang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('qiang1.mp3');</script></span></button></td>
                        <td>qin<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">qin1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('qin1.mp3');</script></span></button></td>
                        <td>qing<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">qing1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('qing1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>x</strong></td>
                        <td>xi<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">xi1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('xi1.mp3');</script></span></button>
                        </td>
                        <td>xia<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">xia1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('xia1.mp3');</script></span></button></td>
                        <td>xiao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">xiao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('xiao1.mp3');</script></span></button></td>
                        <td>xie<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">xie1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('xie1.mp3');</script></span></button></td>
                        <td>xiu<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">xiu1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('xiu1.mp3');</script></span></button></td>
                        <td>xian<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">xian1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('xian1.mp3');</script></span></button></td>
                        <td>xiang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">xiang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('xiang1.mp3');</script></span></button></td>
                        <td>xin<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">xin1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('xin1.mp3');</script></span></button></td>
                        <td>xing<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">xing1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('xing1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody></table>

                <p><strong>Linguist's Note:</strong></p>
                <p>The following are the IPA symbols for this section’s pinyin consonant sounds:</p>

                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="30">&nbsp;</td>
                        <td width="80">Mandarin:</td>
                        <td width="30">ji</td>
                        <td width="150">[tɕ]</td>
                        <td width="60">English:</td>
                        <td width="35">"j"</td>
                        <td>[dʒ]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Mandarin: </td>
                        <td>q</td>
                        <td>[tɕʰ]</td>
                        <td>English:</td>
                        <td>"ch"</td>
                        <td>[tʃ]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Mandarin: </td>
                        <td>x</td>
                        <td>[ɕ]</td>
                        <td>English:</td>
                        <td>"sh"</td>
                        <td>[ʃ]</td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}