@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">U with G, K, H</h3>
            </div>
            <div class="panel-body">
                <p>You learned Mandarin's g, k, and h consonant sounds in <a href="/tools/pronunciation/section/7">Section 7</a>. In this section we apply the Mandarin u sounds from <a href="/tools/pronunciation/section/11">Section 11</a> and <a href="/tools/pronunciation/section/12">Section 12</a> in a straightforward manner. Pay special attention to the proper pronunciation of finals uo, ui, and un.</p>

                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>

                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>u</strong></td>
                        <td><strong>ua</strong></td>
                        <td><strong>uo</strong></td>
                        <td><strong>ui</strong></td>
                        <td><strong>uai</strong></td>
                        <td><strong>uan</strong></td>
                        <td><strong>un</strong></td>
                        <td><strong>uang</strong></td>
                        <td><strong>ueng</strong></td>
                    </tr>
                    <tr>
                        <td><strong>g</strong></td>
                        <td>gu<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gu1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('gu1.mp3');</script></span></button>
                        </td>
                        <td>gua<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gua1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('gua1.mp3');</script></span></button></td>
                        <td>guo<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">guo1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('guo1.mp3');</script></span></button></td>
                        <td>gui<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gui1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('gui1.mp3');</script></span></button></td>
                        <td>guai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">guai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('guai1.mp3');</script></span></button></td>
                        <td>guan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">guan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('guan1.mp3');</script></span></button></td>
                        <td>gun<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gun1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('gun1.mp3');</script></span></button></td>
                        <td>guang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">guang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('guang1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>k</strong></td>
                        <td>ku<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ku1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ku1.mp3');</script></span></button>
                        </td>
                        <td>kua<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kua1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kua1.mp3');</script></span></button></td>
                        <td>kuo<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kuo1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kuo1.mp3');</script></span></button></td>
                        <td>kui<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kui1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kui1.mp3');</script></span></button></td>
                        <td>kuai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kuai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kuai1.mp3');</script></span></button></td>
                        <td>kuan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kuan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kuan1.mp3');</script></span></button></td>
                        <td>kun<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kun1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kun1.mp3');</script></span></button></td>
                        <td>kuang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kuang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kuang1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>h</strong></td>
                        <td>hu<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hu1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hu1.mp3');</script></span></button>
                        </td>
                        <td>hua<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hua1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hua1.mp3');</script></span></button></td>
                        <td>huo<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">huo1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('huo1.mp3');</script></span></button></td>
                        <td>hui<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hui1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hui1.mp3');</script></span></button></td>
                        <td>huai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">huai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('huai1.mp3');</script></span></button></td>
                        <td>huan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">huan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('huan1.mp3');</script></span></button></td>
                        <td>hun<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hun1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hun1.mp3');</script></span></button></td>
                        <td>huang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">huang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('huang1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}