@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">Nasal U with Easy Consonants</h3>
            </div>
            <div class="panel-body">
                <p>The Mandarin consonant sounds in this section are not new; you learned them in <a href="/tools/pronunciation/section/1">Section 1</a> and <a href="/tools/pronunciation/section/3">Section 3</a>. The important new vowel sounds covered here are based on the basic u sound which you learned in <a href="/tools/pronunciation/section/11">Section 11</a>, but there are some areas that need special attention. The new sounds of this section are uai, uan, un, uang, and ueng.</p>
                <p>The uai sound is exactly what you would expect from combining the basic u sound and the ai sound (see <a href="/tools/pronunciation/section/1">Section 1</a>). It sounds basically identical to the English word "why." In this section uai doesn’t combine with any consonants. In this form, it is written wai.</p>
                <p>The uan sound, too, is exactly what you would expect from combining the basic u sound and the an sound (see <a href="/tools/pronunciation/section/1">Section 1</a>). It sounds like the English word "wand" without the final "d" sound. When this sound appears by itself it is written wan. It also combines with other consonants, making the syllables duan, tuan, nuan, luan, zuan, cuan, and suan. (For more combinations with uan, see <a href="/tools/pronunciation/section/13">Section 13</a> and <a href="/tools/pronunciation/section/14">Section 14</a>).</p>
                <p>Here the learner should note that in the syllables juan, quan, and xuan, the letters "uan" do not follow the rules of pronunciation outlined above. For more information, see <a href="/tools/pronunciation/section/16">Section 16</a>.</p>
                <p>For the sound un, the "u" is just not the basic u sound plus an "n" sound. There is actually an extra "uh" sound in there. So the pinyin syllable dun is not pronounced like the English word "dune." It is also not pronounced like "done." It is pronounced like the English word "do" followed immediately by "un" (as in "<u>un</u>cool"). So dun is pronounced something like "doo-un." (Make sure you pronounce it as one syllable.) When the un sound stands alone as a syllable, it is written wen. This same Mandarin un pronounciation also applies to the following syllables: tun, lun, zun, cun, and sun.</p>
                <p>Here the learner should note that in the syllables jun, qun, and xun, the letters "uan" do not follow the rules of pronunciation outlined above. For more information, see <a href="/tools/pronunciation/section/16">Section 16</a>.</p>
                <p>Both uang and ueng are pronounced as you might expect. The sound uang is pronounced by combining the basic u sound with the ang sound (<a href="/tools/pronunciation/section/1">Section 1')?></a>). The sound ueng is pronounced by combining the basic u sound with the eng sound  (<a href="/tools/pronunciation/section/5">Section 5</a>). When it forms a syllable all by itself, the uang sound is written wang. To see it in combination with other consonants, see <a href="/tools/pronunciation/section/13">Section 13</a> and <a href="/tools/pronunciation/section/14">Section 14</a>. When the ueng sound forms a syllable all by itself, it is written weng. It does not ever combine with any consonants, so you will actually never see the letters "ueng" written in proper pinyin.</p>
                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>

                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>uai</strong></td>
                        <td><strong>uan</strong></td>
                        <td><strong>un</strong></td>
                        <td><strong>uang</strong></td>
                        <td><strong>ueng</strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>wai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">wai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('wai1.mp3');</script></span></button>
                        </td>
                        <td>wan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">wan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('wan1.mp3');</script></span></button></td>
                        <td>wen<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">wen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('wen1.mp3');</script></span></button></td>
                        <td>wang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">wang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('wang1.mp3');</script></span></button></td>
                        <td>weng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">weng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('weng1.mp3');</script></span></button></td>
                    </tr>
                    <tr>
                        <td><strong>b</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>p</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>m</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>f</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>d</strong></td>
                        <td>&nbsp;</td>
                        <td>duan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">duan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('duan1.mp3');</script></span></button></td>
                        <td>dun<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">dun1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('dun1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>t</strong></td>
                        <td>&nbsp;</td>
                        <td>tuan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">tuan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('tuan1.mp3');</script></span></button></td>
                        <td>tun<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">tun1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('tun1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>n</strong></td>
                        <td>&nbsp;</td>
                        <td>nuan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nuan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nuan1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>l</strong></td>
                        <td>&nbsp;</td>
                        <td>luan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">luan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('luan1.mp3');</script></span></button></td>
                        <td>lun<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">lun1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('lun1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>z</strong></td>
                        <td>&nbsp;</td>
                        <td>zuan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zuan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zuan1.mp3');</script></span></button></td>
                        <td>zun<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zun1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zun1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>c</strong></td>
                        <td>&nbsp;</td>
                        <td>cuan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">cuan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('cuan1.mp3');</script></span></button></td>
                        <td>cun<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">cun1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('cun1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>s</strong></td>
                        <td>&nbsp;</td>
                        <td>suan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">suan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('suan1.mp3');</script></span></button></td>
                        <td>sun<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">sun1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('sun1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody></table>

                <p><strong>Linguist\'s Note:</strong></p>
                <p>The following are the IPA symbols for this section\'s pinyin consonant sounds:</p>

                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="30">&nbsp;</td>
                        <td width="80">Mandarin:</td>
                        <td width="40">uai</td>
                        <td width="150">[uaɪ]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Mandarin: </td>
                        <td>uan</td>
                        <td>[uan]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Mandarin: </td>
                        <td>un</td>
                        <td>[uən]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Mandarin: </td>
                        <td>uang</td>
                        <td>[uɑŋ]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Mandarin: </td>
                        <td>ueng</td>
                        <td>[uɤŋ]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@}