@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/banner.jpg" style="width: 100%">
        <div class="panel panel-default">

            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">O with Easy Consonants</h3>
            </div>
            <div class="panel-body" >
                <p>Before you get confused, it’s important to know from the start that pinyin o is actually pronounced in<strong>several distinct ways</strong>, depending on what other sounds it combines with. When o is a syllable all by itself, it is pronounced as a pure "o" sound, lips rounded but not moving as the sound is produced. (If your lips are drawing tighter together as you make an "oh" sound, it's likely that you are adding an "oo" sound after the "oh." Mandarin o does not contain that "oo" sound.</p>
                <p>The Mandarin o combines exclusively (no other sounds involved) with only four pure consonant sounds: b, p, m, and f. In these cases the o does not make the same sound as it does when all by itself. In these cases, the o makes a sound which starts out sounding like the English word "war" but then changes into an "aw" or "uh" sound. This applies to bo, po, mo, and fo. The sound is hard to describe, but is not hard to reproduce once you have heard it enough times and it becomes familiar.</p>
                <p>When o combines with u to make ou, the sound is similar to the English word "oh." The careful listener, however, will detect that the o is actually making an "uh" (schwa) sound, while the u is pronounced "oo." The ou sound can stand alone as a syllable, and is also commonly paired with initial consonants to make sounds like pou, mou, fou, dou, tou, nou, and lou (but there is no *vou sound, and nou is rarely used)</p>
                <p>Finally, o can also combine with the -ng final, making ong. Although not a syllable by itself, -ong can combine with d, t, n, and l, giving us dong, tong, nong, and long. In the final -ong sound, the o sounds partway between an "oh" and "oo" sound</p>
                <p><strong>Linguist's Note:</strong></p>
                <p>The following are the IPA symbols for this section's pinyin vowel sounds:</p>
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr >
                        <td width="30">&nbsp;</td>
                        <td width="30">o</td>
                        <td width="30">[o]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>-o</td>
                        <td>[uɔ]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>ao</td>
                        <td>[ɑu]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>-ong</td>
                        <td>[uŋ]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>ou</td>
                        <td>[ɤʊ]</td>
                    </tr>
                    </tbody>
                </table>
                <p><strong>Cultural Note:</strong></p>
                <p>Some non-standard dialects of Chinese do not distinguish between the n and l sounds. Chinese people from those regions (such as Hubei, Hunan, Sichuan) may confuse the n and l sounds when they speak Mandarin. If you're unaware of this, it can be quite confusing. Some Chinese teachers unfamiliar with Westerners will even spend class time teaching Western students to differentiate the n and l sounds, unaware that the difference is completely obvious to the typical Westerner.</p>
                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>o</strong></td>
                        <td><strong>ong</strong></td>
                        <td><strong>ou</strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>o<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">o1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('o1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>ou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ou1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>b</strong></td>
                        <td>bo<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bo1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bo1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>p</strong></td>
                        <td>po<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">po1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('po1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>pou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">pou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('pou1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>m</strong></td>
                        <td>mo<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">mo1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('mo1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>mou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">mou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('mou1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>f</strong></td>
                        <td>fo<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">fo1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('fo1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>fou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">fou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('fou1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>d</strong></td>
                        <td>&nbsp;</td>
                        <td>dong<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">dong1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('dong1.mp3');</script></span></button>
                        </td>
                        <td>dou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">dou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('dou1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>t</strong></td>
                        <td>&nbsp;</td>
                        <td>tong<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">tong1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('tong1.mp3');</script></span></button>
                        </td>
                        <td>tou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">tao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('tou1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>n</strong></td>
                        <td>&nbsp;</td>
                        <td>nong<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nong1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nong1.mp3');</script></span></button>
                        </td>
                        <td>nou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nou1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>l</strong></td>
                        <td>&nbsp;</td>
                        <td>long<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">long1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('long1.mp3');</script></span></button>
                        </td>
                        <td>lou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">lou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('lou1.mp3');</script></span></button>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}