@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">A, O with Z, C, S</h3>
            </div>
            <div class="panel-body" >
                <p>The Mandarin consonant sounds z, c, and s are not totally foreign sounds to the native English speaker, but can nevertheless cause some difficulty. The s sound is identical to English's, so it will not be explained. The consonant sounds z and c are very noteworthy first because they <strong>are not pronounced</strong> at all like "z" and "c" are pronounced in<strong>English</strong>. You must train yourself to recognize z and c as special Mandarin consonants. </p>
                <p>The z consonant sound is almost like a "dz" sound. You can hear a very similar sound in English at the end of words like "suds", "ads", or "kids". The difficulty in learning this sound lies in getting used to it coming at the beginning of words rather than always at the end. (The other difference is that the z consonant is not actually voiced like English's "dz", but this detail should not give you pronunciation problems.)</p>
                <p>The c consonant sound is a "ts" sound. You can hear a very similar sound in English at the end of words like "cuts", "hats", or "bits". Like z, the difficulty in learning the c sound lies only in getting used to it coming at the beginning of words rather than always at the end. In addition, the c sound is accompanied with a more forceful aspiration (puff of air), unlike the English "ts" when it comes at the end of a syllable.</p>
                <p>The consonants z, c, and s combine with all of the vowel sounds covered in  of the tutorial except for -o, creating the following syllables. (These syllables are pronounced exactly as you would expect them to be; there are no tricks here.)</p>
                <table cellspacing="1" cellpadding="2" border="0" align="center" background="#ddd">
                    <tbody>
                    <tr >
                        <td width="30">&nbsp;</td>
                        <td width="30">z</td>
                        <td width="30">[ts]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>c</td>
                        <td>[ts<sup>h</sup>]</td>
                    </tr>
                    <tr >
                        <td>&nbsp;</td>
                        <td>s</td>
                        <td>[s]</td>
                    </tr>
                    </tbody>
                </table>
                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>a</strong></td>
                        <td><strong>ai</strong></td>
                        <td><strong>ao</strong></td>
                        <td><strong>an</strong></td>
                        <td><strong>ang</strong></td>
                        <td><strong>o</strong></td>
                        <td><strong>ong</strong></td>
                        <td><strong>ou</strong></td>
                    </tr>
                    <tr>
                        <td><strong>z</strong></td>
                        <td>za<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">za1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('za1.mp3');</script></span></button>
                        </td>
                        <td>zai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zai1.mp3');</script></span></button>
                        </td>
                        <td>zao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zao1.mp3');</script></span></button>
                        </td>
                        <td>zan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zan1.mp3');</script></span></button>
                        </td>
                        <td>zang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zang1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>zong<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zong1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zong1.mp3');</script></span></button>
                        </td>
                        <td>zou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zou1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>c</strong></td>
                        <td>ca<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ca1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ca1.mp3');</script></span></button>
                        </td>
                        <td>cai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">cai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('cai1.mp3');</script></span></button>
                        </td>
                        <td>cao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">cao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('cao1.mp3');</script></span></button>
                        </td>
                        <td>can<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">can1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('can1.mp3');</script></span></button>
                        </td>
                        <td>cang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">cang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('cang1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>cong<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">cong1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('cong1.mp3');</script></span></button>
                        </td>
                        <td>cou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">cou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('cou1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>s</strong></td>
                        <td>sa<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">sa1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('sa1.mp3');</script></span></button>
                        </td>
                        <td>sai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">sai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('sai1.mp3');</script></span></button>
                        </td>
                        <td>sao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">sao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('sao1.mp3');</script></span></button>
                        </td>
                        <td>san<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">san1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('san1.mp3');</script></span></button>
                        </td>
                        <td>sang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">sang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('sang1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>song<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">song1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('song1.mp3');</script></span></button>
                        </td>
                        <td>sou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">sou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('sou1.mp3');</script></span></button>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}