@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/banner.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">E with Easy Consonants</h3>
            </div>
            <div class="panel-body">
                <p>Once again, before you get confused, it's important to know from the start that the pinyin e is actually pronounced in several distinct ways, depending on what other sounds it is combined with. When e is a syllable all by itself, or when
                    e simply combines with an initial consonant, it sounds as if you started out with an [ʊ] sound (as in the English word "put"), and then ended with sort of an [ʌ] sound (as in the English slang word "duh.") This pronunciation applies to the following syllables of this section: e, de, te, ne, le.</p>
                <p>For the -n and -ng final consonants, the pronunciation of e stays roughly the same, with just the addition of the consonant sounds at the end. That gives you the following syllables: ben, beng, pen, peng, men, meng, fen, feng, deng, teng, nen, neng, leng. (Notice which possible syllables are not included. Those sounds do not exist in Mandarin, except for den, which is quite rare.)</p>
                <p>The other sound that the Mandarin e makes can be heard in ei. Mandarin's ei sounds like the "ei" in the English word "vein." This is a common vowel sound you will hear in the following syllables: bei, pei, mei, fei, dei, nei, lei.</p>
                <p>Finally, the Mandarin e can make another separate sound in the syllable er. The syllable er sounds more or less like the English word "are", although the r sound is the Mandarin r we mentioned earlier.</p>
                <p><strong>Linguist's Note:</strong></p>
                <p>The following are the IPA symbols for this section's pinyin vowel sounds:</p>
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="30">&nbsp;</td>
                        <td width="30">e</td>
                        <td width="150">[ɤ]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>ei</td>
                        <td>[ei]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>en</td>
                        <td>[ən]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>eng</td>
                        <td>[əŋ]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>er</td>
                        <td>[ɚ] or [er]</td>
                    </tr>
                    </tbody></table>
                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>e</strong></td>
                        <td><strong>ei</strong></td>
                        <td><strong>en</strong></td>
                        <td><strong>eng</strong></td>
                        <td><strong>er</strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>e<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">e1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('e1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>en<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">en1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('en1.mp3');</script></span></button>
                        </td>
                        <td>eng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">eng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('eng1.mp3');</script></span></button>
                        </td>
                        <td>er<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">er1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('er1.mp3');</script></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>b</strong></td>
                        <td>&nbsp;</td>
                        <td>bei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">bei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('bei1.mp3');</script></span></button>
                        </td>
                        <td>ben<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ben1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ben1.mp3');</script></span></button>
                        </td>
                        <td>beng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">beng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('beng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>p</strong></td>
                        <td>&nbsp;</td>
                        <td>pei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">pei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('pei1.mp3');</script></span></button>
                        </td>
                        <td>pen<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">pen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('pen1.mp3');</script></span></button>
                        </td>
                        <td>peng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">peng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('peng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>m</strong></td>
                        <td>&nbsp;</td>
                        <td>mei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">mei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('mei1.mp3');</script></span></button>
                        </td>
                        <td>men<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">men1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('men1.mp3');</script></span></button>
                        </td>
                        <td>meng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">meng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('meng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>f</strong></td>
                        <td>&nbsp;</td>
                        <td>fei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">fei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('fei1.mp3');</script></span></button>
                        </td>
                        <td>fen<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">fen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('fen1.mp3');</script></span></button>
                        </td>
                        <td>feng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">feng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('feng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>d</strong></td>
                        <td>de<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">de1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('de1.mp3');</script></span></button>
                        </td>
                        <td>dei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">dei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('dei1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>deng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">deng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('deng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>t</strong></td>
                        <td>te<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">te1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('te1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>teng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">teng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('teng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>n</strong></td>
                        <td>ne<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ne1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ne1.mp3');</script></span></button>
                        </td>
                        <td>nei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nei1.mp3');</script></span></button>
                        </td>
                        <td>nen<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">nen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('nen1.mp3');</script></span></button></td>
                        <td>neng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">neng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('neng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>l</strong></td>
                        <td>le<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">le1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('le1.mp3');</script></span></button>
                        </td>
                        <td>lei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">lei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('lei1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>leng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">leng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('leng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}