@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">E with Z, C, S, ZH, CH, SH, R</h3>
            </div>
            <div class="panel-body">
                <p>This section contains no new sounds. Rather, it combines sounds you have already learned in <a href="/tools/pronunciation/section/3">Section 3</a>, <a href="/tools/pronunciation/section/4">Section 4</a>, and <a href="/tools/pronunciation/section/5">Section 5</a> to form new syllables. The pronunciation of the Mandarin sounds e, ei, en, and eng follow the same rules as in <a href="/tools/pronunciation/section/5">Section 5</a>. Notice, however, that not every combination is used in Mandarin. (Those spaces are left blank in the chart.)</p>
                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>e</strong></td>
                        <td><strong>ei</strong></td>
                        <td><strong>en</strong></td>
                        <td><strong>eng</strong></td>
                        <td><strong>er</strong></td>
                    </tr>
                    <tr>
                        <td>z</td>
                        <td>ze<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ze1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ze1.mp3');</script></span></button>
                        </td>
                        <td>zei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zei1.mp3');</script></span></button></td>
                        <td>zen<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zen1.mp3');</script></span></button>
                        </td>
                        <td>zeng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zeng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zeng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>c</strong></td>
                        <td>ce<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ce1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ce1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>cen<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">cen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('cen1.mp3');</script></span></button>
                        </td>
                        <td>ceng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ceng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ceng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>s</strong></td>
                        <td>se<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">se1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('se1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>sen<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">sen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('sen1.mp3');</script></span></button>
                        </td>
                        <td>seng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">seng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('seng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>zh</strong></td>
                        <td>zhe<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zhe1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zhe1.mp3');</script></span></button></td>
                        <td>zhei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zhei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zhei1.mp3');</script></span></button>
                        </td>
                        <td>zhen<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zhen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zhen1.mp3');</script></span></button>
                        </td>
                        <td>zheng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zheng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zheng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>ch</strong></td>
                        <td>che<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">che1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('che1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>chen<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">chen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('chen1.mp3');</script></span></button>
                        </td>
                        <td>cheng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">cheng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('cheng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>sh</strong></td>
                        <td>she<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">she1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('she1.mp3');</script></span></button></td>
                        <td>shei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">shei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('shei1.mp3');</script></span></button>
                        </td>
                        <td>shen<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">shen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('shen1.mp3');</script></span></button>
                        </td>
                        <td>sheng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">sheng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('sheng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>r</strong></td>
                        <td>re<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">re1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('re1.mp3');</script></span></button></td>
                        <td>&nbsp;</td>
                        <td>ren<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ren1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ren1.mp3');</script></span></button>
                        </td>
                        <td>reng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">reng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('reng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}