@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/banner.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">A, O, E with G, K, H</h3>
            </div>
            <div class="panel-body">
                <p>This section brings the familiar Mandarin vowel sounds from Section 1, Section 2, and Section 5 together with the new consonant sounds g, k, and h. </p>
                <p>Much like the b/p and d/t sounds (see <a href="/tools/pronunciation/section/1">Section 1</a>), the Mandarin g and k sounds may sometimes sound very similar to you. This is because both are unvoiced in Mandarin, meaning the vocal chords do not vibrate when you say them. This results in a somewhat "softer" g than the English "g" sound. The difference is that k is aspirated (accompanied by a puff of air) while g is not.</p>
                <p>The Mandarin h, on the other hand, can seem harsher than the English "h" sound. This is because Mandarin speakers often constrict the back of their throat more than English speakers do, resulting in a raspier "h" sound similar to a Scottish "ch" sound (as in "loch") or a Hebrew "ch" sound (as in "chutzpah") as spoken by natives.</p>
                <p><strong>Linguist's Note:</strong></p>
                <p>'The following are the IPA symbols for this section’s pinyin consonant sounds:</p>
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="30">&nbsp;</td>
                        <td width="30">g</td>
                        <td width="150">[k]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>k</td>
                        <td>[k<sup>h</sup>]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>h</td>
                        <td>[x]</td>
                    </tr>
                    </tbody>
                </table>
                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>a</strong></td>
                        <td><strong>ai</strong></td>
                        <td><strong>ao</strong></td>
                        <td><strong>an</strong></td>
                        <td><strong>ang</strong></td>
                        <td><strong>o</strong></td>
                        <td><strong>ong</strong></td>
                        <td><strong>ou</strong></td>
                        <td><strong>e</strong></td>
                        <td><strong>ei</strong></td>
                        <td><strong>en</strong></td>
                        <td><strong>eng</strong></td>
                        <td><strong>er</strong></td>
                    </tr>
                    <tr>
                        <td>g</td>
                        <td>ga<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ga1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ga1.mp3');</script></span></button>
                        </td>
                        <td>gai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('gai1.mp3');</script></span></button></td>
                        <td>gao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('gao1.mp3');</script></span></button>
                        </td>
                        <td>gan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('gan1.mp3');</script></span></button>
                        </td>
                        <td>gang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('gang1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>gong<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gong1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('gong1.mp3');</script></span></button>
                        </td>
                        <td>gou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('gou1.mp3');</script></span></button>
                        </td>
                        <td>ge<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ge1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ge1.mp3');</script></span></button>
                        </td>
                        <td>gei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('gei1.mp3');</script></span></button>
                        </td>
                        <td>gen<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('gen1.mp3');</script></span></button>
                        </td>
                        <td>geng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">geng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('geng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>k</td>
                        <td>ka<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ka1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ka1.mp3');</script></span></button>
                        </td>
                        <td>kai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kai1.mp3');</script></span></button></td>
                        <td>kao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kao1.mp3');</script></span></button>
                        </td>
                        <td>kan<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kan1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kan1.mp3');</script></span></button>
                        </td>
                        <td>kang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kang1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>kong<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kong1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kong1.mp3');</script></span></button>
                        </td>
                        <td>kou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kou1.mp3');</script></span></button>
                        </td>
                        <td>ke<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ke1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ke1.mp3');</script></span></button>
                        </td>
                        <td>kei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">kei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('kei1.mp3');</script></span></button>
                        </td>
                        <td>ken<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">gen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ken1.mp3');</script></span></button>
                        </td>
                        <td>keng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">keng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('keng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr><tr>
                        <td>h</td>
                        <td>ha<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ha1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ha1.mp3');</script></span></button>
                        </td>
                        <td>hai<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hai1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hai1.mp3');</script></span></button></td>
                        <td>hao<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hao1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hao1.mp3');</script></span></button>
                        </td>
                        <td>han<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">han1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('han1.mp3');</script></span></button>
                        </td>
                        <td>hang<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hang1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hang1.mp3');</script></span></button>
                        </td>
                        <td></td>
                        <td>hong<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hong1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hong1.mp3');</script></span></button>
                        </td>
                        <td>hou<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hou1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hou1.mp3');</script></span></button>
                        </td>
                        <td>he<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">he1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('he1.mp3');</script></span></button>
                        </td>
                        <td>hei<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hei1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hei1.mp3');</script></span></button>
                        </td>
                        <td>hen<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">hen1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('hen1.mp3');</script></span></button>
                        </td>
                        <td>heng<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">heng1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('heng1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}