@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/banner.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">I with Z, C, S, ZH, CH, SH, R</h3>
            </div>
            <div class="panel-body">
                <p>Although none of the pinyin letters presented in this section are new, the Mandarin consonant sounds zh, ch, and sh, as well as the z, c, and s sounds combine with i to produce a slightly different sound from the basic "ee" sound of pinyin i that you learned in <a href="/tools/pronunciation/section/section/8">Section 8</a>. </p>
                <p>To learn how to approximate this vowel sound, first start to say the word "shirt" (North American pronunciation), but stop just as the "r" sound is beginning. Your tongue should naturally be a little further back (as discussed in <a href="/tools/pronunciation/section/4">Section 4</a>) in anticipation of the "r" sound.</p>
                <p>If you can cut off the word "shirt" at the proper place, then you should be doing an approximation of the Mandarin syllable shi. Now apply the same vowel sound to the syllables zhi and chi. For zi, ci, and si, the vowel sound is very similar. You should be able to master it by simply listening to it over and over and imitating it.</p>
                <p>Mandarin’s r sound also sounds a bit different when combined with i. It is closer to the zhi, chi, and shi sounds mentioned above than the basic "ee" sound of pinyin i that you learned in <a href="/tools/pronunciation/section/4">Section 4</a>.</p>
                <p>This tongue positioning will be more important for other vowel combinations, particularly in <a href="/tools/pronunciation/section/9">part 9</a> of this tutorial. For now, you should be able to correctly pronounce the following consonant-vowel combinations:</p>
                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>

                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>i</strong></td>
                        <td><strong>ia</strong></td>
                        <td><strong>iao</strong></td>
                        <td><strong>ie</strong></td>
                        <td><strong>iu</strong></td>
                        <td><strong>ian</strong></td>
                        <td><strong>iang</strong></td>
                        <td><strong>in</strong></td>
                        <td><strong>ing</strong></td>
                        <td><strong>iong</strong></td>
                    </tr>
                    <tr>
                        <td>z</td>
                        <td>zi<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zi1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zi1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>c</td>
                        <td>ci<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ci1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ci1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>s</td>
                        <td>si<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">si1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('si1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>zh</td>
                        <td>zhi<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">zhi1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('zhi1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>ch</td>
                        <td>chi<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">chi1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('chi1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>sh</td>
                        <td>shi<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">shi1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('shi1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>r</td>
                        <td>ri<br>
                            <button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ri1</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ri1.mp3');</script></span></button>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody></table>
                <p><strong>Linguist's Note:</strong></p>
                <p>The following are the IPA symbols for this section’s pinyin consonant sounds:</p>
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="30">&nbsp;</td>
                        <td width="80">Mandarin:</td>
                        <td width="30">zi</td>
                        <td width="150">[tsɿ]</td>
                        <td width="60">Mandarin:</td>
                        <td width="35">zhi</td>
                        <td>[ʈʂʅ]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Mandarin </td>
                        <td>ci</td>
                        <td>[tsʰɿ]</td>
                        <td>Mandarin:</td>
                        <td>chi</td>
                        <td>[ʈʂʰʅ]</td>
                        　　</tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Mandarin: </td>
                        <td>si</td>
                        <td>[sɿ]</td>
                        <td>Mandarin:</td>
                        <td>shi</td>
                        <td>[ʂʅ]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>Mandarin:</td>
                        <td>ri</td>
                        <td>[ʐʅ]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@}