@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h1 class="panel-title panel-title-style"><strong>VOWEL</strong></h1>
            </div>
            <div class="panel-body" >

                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody>
                    <tr>
                        <td width="15%"><strong>a</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">a</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('a1.mp3');</script></span></button></td>
                        <td width="40%"><p>The lips are naturally enlarged, tongue flat, tongue middle, and vocal cord trembling.</p></td>
                        <td width="30%"><img src="/static/img/a.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>o</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">o</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('o.mp3');</script></span></button></td>
                        <td width="40%"><p>The lips rounded, slightly tilted, tongue back, the tongue raised rear, tongue centered, vocal cords vibrate.</p></td>
                        <td width="30%"><img src="/static/img/o.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>e</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">e</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('e.mp3');</script></span></button></td>
                        <td width="40%"><p>Mouth, tongue back, mouth on both sides to expand into the flat, vocal cords vibrate.</p></td>
                        <td width="30%"><img src="/static/img/e.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>i</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">i</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('i.mp3');</script></span></button></td>
                        <td width="40%"><p>Mouth slightly open into a flat shape, the tip of the tongue against the gums, tongue surface elevation, near the hard palate, vocal cords vibrate.</p></td>
                        <td width="30%"><img src="/static/img/i.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>u</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">u</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('u.mp3');</script></span></button></td>
                        <td width="40%"><p>Pronunciation, lips puckered round, protruding into the hole, the raised rear, vocal cords vibrate.</p></td>
                        <td width="30%"><img src="/static/img/u.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>ü</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ü</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ü.mp3');</script></span></button></td>
                        <td width="40%"><p>The lips rounded, close to close, the tip of the tongue against the gums, tongue front uplift, vocal cords vibrate.</p></td>
                        <td width="30%"><img src="/static/img/ü.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>ai</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ai</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ai.mp3');</script></span></button></td>
                        <td width="40%"><p>First, pronouncing the voice of a and then sliding it to I. The air flow is not interrupted, and the pronunciation is light and short.</p></td>
                        <td width="30%"><img src="/static/img/ai.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>ei</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ei</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ei.mp3');</script></span></button></td>
                        <td width="40%"><p>First, the voice of E is first launched, then it slid to I. The airflow is not interrupted, and the corners of the mouth expand to both sides.</p></td>
                        <td width="30%"><img src="/static/img/ei.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>ao</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ao</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ao.mp3');</script></span></button></td>
                        <td width="40%"><p>To make the a sound, then the tongue retraction, back up, mouth shape into a round rope, gently slid o.</p></td>
                        <td width="30%"><img src="/static/img/ao.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>ou</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ou</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ou.mp3');</script></span></button></td>
                        <td width="40%"><p>To make the o sound, gradually folded lips, tongue raised by a large circle to the small mouth.</p></td>
                        <td width="30%"><img src="/static/img/ou.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>ie</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ie</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ie.mp3');</script></span></button></td>
                        <td width="40%"><p>First I, then E, airflow is not interrupted.</p></td>
                        <td width="30%"><img src="/static/img/ie.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>üe</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">üe</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('üe.mp3');</script></span></button></td>
                        <td width="40%"><p>Pronunciation, first u sound, and then to e by mouth from flat sliding.</p></td>
                        <td width="30%"><img src="/static/img/üe.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>an</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">an</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('an.mp3');</script></span></button></td>
                        <td width="40%"><p>To make the a sound, then the tip gradually lifted, to make the N sound on the gums.</p></td>
                        <td width="30%"><img src="/static/img/an.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>en</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">en</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('en.mp3');</script></span></button></td>
                        <td width="40%"><p>To make the e sound, then the elevation, the tip of the tongue against the upper gum, air leakage from the nasal cavity, n.</p></td>
                        <td width="30%"><img src="/static/img/en.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>in</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">in</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('in.mp3');</script></span></button></td>
                        <td width="40%"><p>To make the I sound, then the tip of the tongue against the lower incisors, the tongue gradually to the hard palate, air leakage from the nasal cavity, n.</p></td>
                        <td width="30%"><img src="/static/img/in.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>ün</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ün</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ün.mp3');</script></span></button></td>
                        <td width="40%"><p>First u sound, then the tongue against the upper jaw, lift, airflow leakage from the nasal cavity, pronounced n.</p></td>
                        <td width="30%"><img src="/static/img/ün.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>ang</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ang</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ang.mp3');</script></span></button></td>
                        <td width="40%"><p>To make the a sound, then the tongue against the upper palate, air leakage from the nasal cavity, the nasal coda ng sound.</p></td>
                        <td width="30%"><img src="/static/img/ang.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>eng</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">eng</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('eng.mp3');</script></span></button></td>
                        <td width="40%"><p>To make the e sound, then the tip of the tongue against the lower jaw, tongue base retraction against the soft palate ng sound, air leakage from the nasal cavity.</p></td>
                        <td width="30%"><img src="/static/img/eng.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>ing</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ing</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ing.mp3');</script></span></button></td>
                        <td width="40%"><p>Under the tongue touch the gums, tongue swelling to the hard palate, nasal cavity resonance sound</p></td>
                        <td width="30%"><img src="/static/img/ing.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>ong</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">ong</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('ong.mp3');</script></span></button></td>
                        <td width="40%"><p>First the sound of O, then after the tongue shrinking against the soft palate, tongue bulge, lips puckered round, nasal resonance sound.</p></td>
                        <td width="30%"><img src="/static/img/ong.jpg" style="width: 100%"></td>
                    </tr>
                    <tr>
                        <td width="15%"><strong>er</strong></td>
                        <td width="15%"><button class="css_audio_btn"><span class="css_btn_lbl">►</span><span class="css_data">er</span><span class="css_data1">0</span><span class="css_data2"><script type="text/javascript">pinyinflash('er.mp3');</script></span></button></td>
                        <td width="40%"><p>The tongue pronounced e, and then to the hard palate tongue rolled up, two letters and pronunciation.</p></td>
                        <td width="30%"><img src="/static/img/er.jpg" style="width: 100%"></td>
                    </tr>

                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}